{% autoescape off %}

<div class="container">
  <h2>Hi {{user.username}}</h2>
  <br>
  <h3>Please user the link below to verify your account</h3>
  <br>                                          
  <a href="http://{{domain}}{% url 'activate' uid=user.id token=token %}" dir="ltr" style="text-align:center;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://notifications.google.com/g/p/AD-FnExXi1t3uditSobG8UpE6czDmgUP-FNtu5XSmMRC9EfZJyauvLw8Bp3GAD4OIfsMxW27E4nOKFkX3-ggP4jm4jNMcgLtziVjhGr5dqLxNA1-JTjF8yRweEUXvyeR89Rp4aL328b5U1Fsjv-hRBvbpmovSHzicFmO8ODsh_u2Ga7bxe9SY_hSBcIKOGnbKwpOEE-Qdx9Yw3h0XObggyBSU2VlrbTSA380NyR9Two5OTFesctigNAK3U1jBDFS1lyGtvvXx1iJpuYIonlc2qXbsDGfQFw1OoYXXSfC4ZNVYzBUIGaLExpblBaKcEHquOYlXw&amp;source=gmail&amp;ust=1647433047325000&amp;usg=AOvVaw3NkDVoNXsAUcRSBvwynDE1">
    <table role="presentation" cellspacing="0" cellpadding="0" align="center">
      <tbody>
          <tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:4px solid #ffffff;border-top-left-radius:4px;border-top-right-radius:4px;display:inline-block;text-align:center"></td></tr>
            <tr>
              <td class="m_5614693342756603034subheadline m_5614693342756603034btn_mod2_mobile2" style="background-color:#1a73e8;border:1px solid #1a73e8;border-radius:4px;color:#ffffff;display:inline-block;font-size:16px;line-height:25px;text-decoration:none;padding:7px 24px 7px 24px;font-weight:500;text-align:center;word-break:normal;direction:ltr">
                Activate your account
              </td>
            </tr>
          <tr style="padding:0;margin:0;font-size:0;line-height:0"><td style="border-top:3px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center"></td></tr>
      </tbody>
    </table>
{% endautoescape %}